html,body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  overflow-y: auto;
}

.grocery-bg {
  background-color: rgb(158, 154, 154);
  padding: 10px;
}

.shopping-bag-bg {
  background-color: #a7b7a7;
  padding: 10px;
}
.stats-bg {
  background-color: #ecddc0;
  padding: 10px;
}

